




<div class="theme-container">
    <header class="navbar">
        <div class="navbar-container navbar-base">
            <div class="navbar-left">
                <div class="sidebar-button">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path></svg>
                </div>
                <a href="#">
                    <img src="/assets/logo.png" alt="ApexSpins" width="123" height="40" class="navbar-logo">
                </a>
            </div>

            <div class="navbar-center">
                <div class="search-box-container">
                    <input placeholder="Введите поисковый запрос" aria-label="Search" autocomplete="off" spellcheck="false" class="search-box-input">
                    <button class="search-box-button">
                        <img src="./assets/Vector.svg" alt="">
                    </button>
                </div>
            </div>

            <div class="navbar-right">
                <div class="navbar-links click-modal">
                    <p class="navbar-links-link ">Написать в техподдержку</p>
                </div>
            </div>
        </div>
    </header>

    <div class="sidebar-mask"></div>
    <aside class="sidebar">
        <nav class="nav-links">
            <div>
                <a href="#" class="navbar-links-link click-modal">Написать в техподдержку</a>
            </div>

            <div class="search-box-container">
                <input placeholder="Введите поисковый запрос" aria-label="Search" autocomplete="off" spellcheck="false" class="search-box-input">
                <button class="search-box-button">
                    <img src="./assets/Vector.svg" alt="">
                </button>
            </div>
        </nav>
        <ul class="sidebar-links">
            <li>
                <section class="sidebar-group"  >
                    <p class="sidebar-heading">GET STARTED</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#step-1" class="sidebar-link  active">Начало работы:</a></li>
                        <li><a href="#step-2" class="sidebar-link ">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#step-3" class="sidebar-link  ">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#step-4" class="sidebar-link  ">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">SITE</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#step-5" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">DOMAINS</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">CAMPAIGNS AND FLOWS (STREAMS)</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">SITE</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">DOMAINS</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">CAMPAIGNS AND FLOWS (STREAMS)</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">SITE</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">DOMAINS</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link ">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">CAMPAIGNS AND FLOWS (STREAMS)</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>
        </ul>
    </aside>

    <main class="page">
        <div class="theme-default-content content__defaul">
            <h1 id="is-step-content">Регистрация</h1>

            <p>
                Для регистрации в партнерской программе вам необходимо написать в телеграм аккаунт <a href="https://t.me/apexaf">https://t.me/apexaf</a> , и представить следующею информацию
            </p>

            <ol class="base-list">
                <li>Источник трафика</li>
                <li>Объём трафика</li>
                <li>Статистику по вашему источнику ( Если есть объективная статистику за период 1 месяц  )</li>
                <li>Email адрес</li>
            </ol>

            <p>После чего наши менеджеры проанализируют полученную информацию, и в случае положительного решения создадут вам аккаунт в партнерской программе Apex Spins.</p>

            <p>(app) This mark means that a server pre-installed with Keitaro is available from the vendor. A pre-installed server still requires an <a href="#">active license.</a></p>

            <h2 id="is-server-content">Server Requirements</h2>

            <p>Select the best server option for the traffic (number of daily clicks) expected:</p>

            <table>
                <thead>
                    <tr>
                        <th>Traffic Volume, clicks per day</th>
                        <th>Type</th>
                        <th>RAM</th>
                        <th>CPU</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>less < 10 000</td>
                        <td>VPS</td>
                        <td>2 GB</td>
                        <td>1 CPU</td>
                    </tr>
                    
                    <tr>
                        <td>10 000 - 100 000</td>
                        <td>VPS</td>
                        <td>2 GB</td>
                        <td>1 CPU</td>
                    </tr>

                    <tr>
                        <td>100 000 - 500 000</td>
                        <td>VPS</td>
                        <td>2 GB</td>
                        <td>1 CPU</td>
                    </tr>

                    <tr>
                        <td>500 000 - 1 000 000</td>
                        <td>VPS</td>
                        <td>2 GB</td>
                        <td>1 CPU</td>
                    </tr>

                    <tr>
                        <td>1 000 000 - 5 000 000</td>
                        <td>VPS</td>
                        <td>2 GB</td>
                        <td>1 CPU</td>
                    </tr>

                    <tr>
                        <td>5 000 000 - 10 000 000</td>
                        <td>VPS</td>
                        <td>2 GB</td>
                        <td>1 CPU</td>
                    </tr>
                </tbody>
            </table>

            <ul style="margin-top:28px;">
                <li>Clear server without control panel.</li>
                <li>CentOS 8 Stream or CentOS 9 Stream.</li>
                <li>KVM virtualization.</li>
                <li>Disk size 20 GB SSD or more.</li>
            </ul>

            <h2 id="is-installation-content">installation</h2>

            <p>Below are the most common installation options:</p>

            <ul>
                <li><a href="#">DigitalOcean</a></li>
                <li><a href="#">Hetzner</a</li>
                <li><a href="#">Vultr</a></li>
            </ul>

            <p>For instructions on how to install on other server options, see <a href="#">How to install on any server.</a></p>

            <h2 id="is-faqук-content">FAQ</h2>

            <details class="details">
                <summary>Discounts</summary>
                <table>
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Discount</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><a href="#">Hetzner</a></td>
                            <td>Offers cloud servers</td>
                            <td>Germany, Finland</td>
                            <td>$20 bonus</td>
                        </tr>
                        <tr>
                            <td><a href="#">Hetzner</a></td>
                            <td>Offers cloud servers</td>
                            <td>Germany, Finland</td>
                            <td>$20 bonus</td>
                        </tr>
                    </tbody>
                </table>
            </details>
            <details class=" details">
                <summary>Discounts</summary>
                <table>
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Discount</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><a href="#">Hetzner</a></td>
                            <td>Offers cloud servers</td>
                            <td>Germany, Finland</td>
                            <td>$20 bonus</td>
                        </tr>
                        <tr>
                            <td><a href="#">Hetzner</a></td>
                            <td>Offers cloud servers</td>
                            <td>Germany, Finland</td>
                            <td>$20 bonus</td>
                        </tr>
                    </tbody>
                </table>
            </details>

            <ol>
                <li>Open Terminal app from Applications<code>⌘ + SPACE</code></li>
                <li>Open Terminal app from Applications<code>⌘ + SPACE</code></li>
            </ol>

            <details class=" details">
                <summary>Screnshot</summary>
                <p>Keitaro requires at least one domain to work. We recommend   </p>
                <p>
                    <a data-fancybox="gallery" data-src="/assets/img/namecheap-1.ab0f526c.jpeg" style="margin-right: 30px;">
                        <img class="work__item-average" src="/assets/img/namecheap-1.ab0f526c.jpeg" alt="">
                    </a>
                </p>
            </details>

            <details class=" details">
                <summary>Video</summary>
                <div>
                    <p></p>
                    <!-- <div data-v-a5f030e6="" class="player">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CxgOKJh4zWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div> -->
                </div>
            </details>


            <div class="custom-block tip">
                <p class="custom-block-title">TIP</p> <p>Basic license allows only one domain.</p>
            </div>
            <div class="custom-block warning">
                <p class="custom-block-title">WARNING</p> <p>Basic license allows only one domain.</p>
            </div>
            <div class="custom-block danger">
                <p class="custom-block-title">DANGER</p> <p>Basic license allows only one domain.</p>
            </div>
        </div>

        
        <footer></footer>
    </main>
</div>




<div data-v-c2c6b790 id="container"  class="is-global">
    <div data-v-c2c6b790 class="ra-wrapper is-global">
        <ul data-v-c2c6b790 class="ra-menu">
            <li data-v-c2c6b790 id="is-server" class= "ra-menu-item h2">Server Requirements</li>
            <li data-v-c2c6b790 id="is-installation" class="  ra-menu-item h2">installation</li>
            <li data-v-c2c6b790 id="is-faqук" class="ra-menu-item h2">FAQ</li>
        </ul>
    </div>
</div>




<!-- <Script>
const form = document.forms["form"];
const formArr = Array.from(form);
const validFormArr = [];
const button = form.elements["button"];

formArr.forEach((el) => {
  if (el.hasAttribute("data-reg")) {
    el.setAttribute("is-valid", "0");
    validFormArr.push(el);
  }
});

form.addEventListener("input", inputHandler);
button.addEventListener("click", buttonHandler);

function inputHandler({ target }) {
  if (target.hasAttribute("data-reg")) {
    inputCheck(target);
  }
}

function inputCheck(el) {
  const inputValue = el.value;
  const inputReg = el.getAttribute("data-reg");
  const reg = new RegExp(inputReg);
  if (reg.test(inputValue)) {
    el.setAttribute("is-valid", "1");
    el.style.border = "2px solid rgb(0, 196, 0)";
  } else {
    el.setAttribute("is-valid", "0");
    el.style.border = "2px solid rgb(255, 0, 0)";
  }
}

function buttonHandler(e) {
  const allValid = [];
  validFormArr.forEach((el) => {
    allValid.push(el.getAttribute("is-valid"));
  });
  const isAllValid = allValid.reduce((acc, current) => {
    return acc && current;
  });

  if (!Boolean(Number(isAllValid))) {
    e.preventDefault();
  }
}  
</Script> -->
