<div class="theme-container">
    <header class="navbar">
        <div class="navbar-container navbar-base">
            <div class="navbar-left">
                <div class="sidebar-button">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path></svg>
                </div>
                <a href="#">
                    <img src="/assets/logo.svg" alt="ApexSpins" width="123" height="40" class="navbar-logo">
                </a>
            </div>

            <div class="navbar-center">
                <div class="search-box-container">
                    <input placeholder="Введите поисковый запрос" aria-label="Search" autocomplete="off" spellcheck="false" class="search-box-input">
                    <button class="search-box-button">
                        <img src="./assets/Vector.svg" alt="">
                    </button>
                </div>
            </div>

            <div class="navbar-right">
                <div class="navbar-links">
                    <p class="navbar-links-link">Написать в техподдержку</p>
                </div>
            </div>
        </div>
    </header>

    <div class="sidebar-mask"></div>
    <aside class="sidebar">
        <nav class="nav-links">
            <div>
                <a href="#" class="navbar-links-link">Написать в техподдержку</a>
            </div>

            <div class="search-box-container">
                <input placeholder="Введите поисковый запрос" aria-label="Search" autocomplete="off" spellcheck="false" class="search-box-input">
                <button class="search-box-button">
                    <img src="./assets/Vector.svg" alt="">
                </button>
            </div>
        </nav>
        <ul class="sidebar-links">
            <li>
                <section class="sidebar-group"  >
                    <p class="sidebar-heading">GET STARTED</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#step-1" class="sidebar-link  ">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#step-2" class="sidebar-link ">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#step-3" class="sidebar-link ">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#step-4" class="sidebar-link  ">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">SITE</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#step-5" class="sidebar-link active">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">DOMAINS</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">CAMPAIGNS AND FLOWS (STREAMS)</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">SITE</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">DOMAINS</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">CAMPAIGNS AND FLOWS (STREAMS)</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">SITE</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">DOMAINS</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link ">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>

            <li>
                <section class="sidebar-group">
                    <p class="sidebar-heading">CAMPAIGNS AND FLOWS (STREAMS)</p>
                    <ul class="sidebar-group  sidebar-group-items">
                        <li><a href="#" class="sidebar-link">Шаг 1: Сделайте первый шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 2: Сделайте второй шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 3: Сделайте третий шаг</a></li>
                        <li><a href="#" class="sidebar-link">Шаг 4: Сделайте четвертый шаг</a></li>
                    </ul>
                </section>
            </li>
        </ul>
    </aside>

    <main class="page">
        <div class="theme-default-content content__defaul">
            
        </div>
        <footer></footer>
    </main>
</div>

<div id="container" data-v-c2c6b790 class="is-global">
    <div data-v-c2c6b790 class="ra-wrapper is-global">
        <ul data-v-c2c6b790 class="ra-menu">
            <li data-v-c2c6b790 id="is-server" class= "ra-menu-item h2">Server Requirements</li>
            <li data-v-c2c6b790 id="is-installation" class="  ra-menu-item h2">installation</li>
            <li data-v-c2c6b790 id="is-faqук" class="ra-menu-item h2">FAQ</li>
        </ul>
    </div>
</div>